# Calculate MCP counter TME cellularity on treatment naive samples

Script related to figure 3a-b 

### Aim:
- Calculate MCP counter TME cellularity of samples

In [1]:
!python --version

Python 3.6.8 :: Anaconda custom (64-bit)

## Import packages

In [1]:
import pandas as pd

In [2]:
home = "~/git_repos/HGSOC_TME_Heterogeneity/"

## Load MCP counter results

In [5]:
mcp_results = home + 'Data/3/MCPcounterImmuneCells_TreatmentNaive_Results.txt'

mcp_results = pd.read_csv(mcp_results,
                          sep='\t')

In [6]:
mcp_results.head()

,A01,A02,A03,A04,A05,A06,A07,A08,A09,A10,...,C06,C07,C08,C09,C10,C11,C12,D01,D02,D03
T cells,4.528487,5.207708,4.683623,4.609657,4.414914,4.199644,4.593121,4.254721,4.055357,4.658334,...,4.541452,4.662020,4.272964,4.653528,4.557505,5.281122,5.016379,4.551343,4.833545,4.343201
CD8 T cells,3.362125,3.340149,3.170813,3.210788,3.267672,3.141570,3.251608,3.181663,3.164478,3.618108,...,2.878650,3.171745,2.830048,3.357170,3.062634,3.138733,2.860706,3.219622,2.840067,2.810478
Cytotoxic lymphocytes,4.839624,4.830298,4.607910,4.295373,4.642049,4.386060,4.000044,4.588757,4.031320,4.245466,...,4.265814,4.001872,3.889891,4.239514,4.249442,4.613459,4.607575,4.331030,4.217703,4.114927
NK cells,4.044117,4.034815,4.192092,4.004696,4.145191,4.038369,3.972244,4.185339,3.796969,3.818561,...,4.074165,3.861065,4.096786,4.199403,4.016601,4.018716,4.005642,4.036763,3.940997,3.898257
B lineage,6.192896,6.174202,6.383181,5.801224,5.881343,5.424083,5.611007,5.250402,4.903956,6.366628,...,5.257515,5.498879,5.306347,5.182485,5.085177,7.219469,6.323789,5.284524,6.140568,5.183236

### Add values per sample

In [7]:
mcp_TMEcell = mcp_results.sum(axis='index')

In [8]:
mcp_TMEcell.head()

A01    52.921805
A02    54.331328
A03    54.552966
A04    50.375172
A05    50.768222
dtype: float64

In [9]:
mcp_TMEcell_df = pd.DataFrame({'Term':mcp_TMEcell.index,
                               'MCP_TMEcellularity':mcp_TMEcell.values})

mcp_TMEcell_df = mcp_TMEcell_df.T

In [10]:
mcp_TMEcell_df

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
Term,A01,A02,A03,A04,A05,A06,A07,A08,A09,A10,...,C06,C07,C08,C09,C10,C11,C12,D01,D02,D03
MCP_TMEcellularity,52.9218,54.3313,54.553,50.3752,50.7682,50.278,49.0193,47.9784,47.525,50.0291,...,50.5677,53.5541,51.8184,51.7158,50.8296,55.9712,55.0383,53.2303,54.1586,48.5016

#### Save file

In [11]:
mcp_TMEcell_df.to_csv('../../Data/3/MCPcounterTMEcellularity_TreatmentNaive_Results.txt',
                      sep='\t',
                      header=False,
                      index=True)

# End script